body {
    font-family: sans-serif;
}
header{
    background-color: #3AA6D0;
    padding: 15px;
}
a{
    text-decoration: none;
    background-color: yellow;
    border-radius: 10px;
    font-size: 30px;
}
h1{
    text-align: center;
}
h2{
    color: red;
}
footer{
    background-color: #3AA6D0;
    padding: 15px;
}
